* {
  margin: 0px;
  padding: 0px;
}

.userItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: calc(100vh - 50px); */
}

.item-list {
  padding: 10px 10px;
  margin-bottom: 20px;
  background-color: rgba(92, 143, 147, 0.4);
  width: 80vw;
}

.catTag {
  padding: 2px 5px;
  width: 80px;
  background-color: grey;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  margin-right: 60px;
  margin-bottom: 10px;
}
